{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
All News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h2> Количество новостей:  {{ all_news|length }} </h2>
    <hr>
    {% if all_news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                     Дата публикации
                </td>
                <td>
                    Контент
                </td>
            </tr>
        {% for post in all_news %}
            <tr>
                <td>
                    {{ post.heading|truncatewords:6|censor:True }}
                </td>
                <td>
                    {{ post.add_time|date:'d M Y' }}
                </td><td>
                    {{ post.content|truncatechars:50|censor:True }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

{% endblock content %}