{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
All News
{% endblock title %}

{% block content %}

    <h1><p style="text-align: center;">Все новости</p></h1>
    <h2><p style="text-align: center;">Количество новостей:  {{ all_news|length }} </p></h2>
    <hr>

    {% if all_news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                     Дата публикации
                </td>
                <td>
                    Контент
                </td>
            </tr>
        {% for post in all_news %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' post.id %}">{{ post.heading|truncatewords:6|censor:True }}</a>
                    <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
                </td>
                <td>
                    {{ post.add_time|date:'d M Y' }}
                </td><td>
                    {{ post.content|truncatechars:50|censor:True }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

<a href="{% url 'post_create' %}">Добавить новую статью</a> <br>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
<br>

{% endblock content %}